<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "site/layouts/main/_partials/head.njk" %}
  </head>
  <body class="gl-home-template gl-realestate-template">
    {% include "site/layouts/main/_partials/loader.njk" %}
    {% include "site/layouts/main/_partials/side_menu.njk" %}
    {% include "site/layouts/main/_partials/header.njk" %}
    {% block container %}{% endblock %}
    {% include "site/layouts/main/_partials/footer.njk" %}
    {% include "site/layouts/main/_partials/scripts.njk" %}
  </body>
</html>
