<!-- FOOTER -->
<footer>
  <!-- FOOTER TOP -->
  <div class="gl-footer-top-wrapper">
    <div class="container">
      <div class="row">
        <!-- FOOTER WIDGET -->
        <div class="gl-footer-widget gl-footer-logo gl-footer-fixed-widget">
          <a href="#">
            <img src="/assets/images/logo-footer.png" alt="Glimpse">
          </a>
        </div>
        <!-- END -->

        <!-- FOOTER WIDGET -->
        <div class="gl-footer-widget gl-contact-info">
          <h3 class="gl-footer-widget-title">Contact info</h3>

          <div class="gl-footer-widget-content">
            <ul>
              <li><i class="fa fa-map-marker"></i>Road 3, West side lane Texas,  USA</li>
              <li><i class="fa fa-phone"></i>0632 0152 001</li>
              <li><i class="fa fa-envelope-o"></i>mail@gmail.com</li>
              <li><i class="fa fa-globe"></i>www.glimpse.com</li>
            </ul>
          </div>
        </div>
        <!-- END -->

        <!-- FOOTER WIDGET -->
        <div class="gl-footer-widget gl-useful-links">
          <h3 class="gl-footer-widget-title">Company</h3>

          <div class="gl-footer-widget-content">
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">History</a></li>
              <li><a href="#">Career &amp; Goal</a></li>
              <li><a href="#">Company Profile</a></li>
              <li><a href="#">Process</a></li>
              <li><a href="#">Account</a></li>
            </ul>
          </div>
        </div>
        <!-- END -->

        <!-- FOOTER WIDGET -->
        <div class="gl-footer-widget gl-subscribe-widget">
          <h3 class="gl-footer-widget-title">Subscribe</h3>

          <div class="gl-footer-widget-content">
          <p>Checkout and enjoy the biggest eco</p>

          <form action="#">
            <input type="email" name="gl-subscription" id="gl-subscription" placeholder="Your email">
            <button type="submit" class="gl-btn">Submit</button>
          </form>
          </div>
        </div>
        <!-- END -->
      </div>
    </div>
  </div>
  <!-- END -->

  <!-- FOOTER BOTTOM -->
  <div class="gl-footer-bottom-wrapper">
    <div class="container">
      <div class="row">
        <!-- COPYRIGHT INFO -->
        <div class="gl-copyright-info-wrapper">
          <p>Copyright &copy; 2016 Glimpse. All rights reserved</p>
        </div>
        <!-- COPYRIGHT INFO -->

        <div class="gl-social-info-wrapper">
          <ul>
            <li>
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#">
                  <i class="fa fa-behance"></i>
                </a>
            </li>
            <li>
                <a href="#">
                  <i class="fa fa-dribbble"></i>
                </a>
            </li>
            <li>
                <a href="#">
                  <i class="fa fa-vimeo"></i>
                </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- END -->
</footer>
<!-- FOOTER END -->
