<!-- HEADER -->
<header class="gl-header">
  <!-- BOTTOM BAR/NAVIGATION -->
  <div class="gl-header-bottombar">
    <!-- Navigation Menu start-->
    <nav class="navbar gl-header-main-menu" role="navigation">
      <div class="container">

        <!-- Navbar Toggle -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Logo -->
            <a class="navbar-brand" href="index.html"><img class="logo" src="/assets/images/logo-header.png" alt="GLIMPSE"></a>
        </div>
        <!-- Navbar Toggle End -->

        <!-- navbar-collapse start-->
        <div id="nav-menu" class="navbar-collapse gl-menu-wrapper collapse" role="navigation">
          <ul class="nav navbar-nav gl-menus">
              <li class="active">
                <a href="index.html">Home</a>
                <ul class="gl-sub-menu">
                    <li>
                        <a href="../business/index.html">Home - Business</a>
                    </li>
                    <li>
                        <a href="../jobs/index.html">Home - Jobs</a>
                    </li>
                    <li>
                        <a href="../restaurant/index.html">Home - Restaurant</a>
                    </li>
                </ul>
              </li>
              <li>
                <a href="listing-style-1.html">Listing</a>
                <ul class="gl-sub-menu">
                    <li>
                        <a href="listing-style-2.html">Listing Style - Map Right</a>
                    </li>
                    <li>
                        <a href="listing-style-3.html">Listing Style - Map Top</a>
                    </li>
                    <li>
                        <a href="listing-style-4.html">Listing Style - Alternative</a>
                    </li>
                </ul>
              </li>
              <li>
                  <a href="property-details.html">Property</a>
              </li>
              <li>
                <a href="agent-profile.html">Agent</a>
              </li>
              <li>
                <a href="about-us.html">About</a>
              </li>
              <li>
                <a href="../elements/elements.html">Elements</a>
                <ul class="gl-sub-menu">
                    <li>
                        <a href="../frontend-subbmission/index.html">Frontend Submission Page</a>
                    </li>
                </ul>
              </li>
              <li>
                <a href="blog-grid.html">Blog</a>
                <ul class="gl-sub-menu">
                    <li>
                        <a href="blog-default.html">Blog Default</a>
                    </li>
                    <li>
                        <a href="blog-details.html">Blog Details</a>
                    </li>
                </ul>
              </li>
              <li>
                <a href="contact-us.html">Contact</a>
              </li>
          </ul>
        </div>
        <!-- navbar-collapse end-->

        <!-- OTHER BTNS -->
        <div class="gl-extra-btns-wrapper">
          <button class="gl-login-btn" id="gl-side-menu-btn">Login</button>
          <button class="gl-add-post-btn">+ Post Add</button>

          <!-- COMPARE BTN -->
          <div class="gl-compare-icon">
              <div class="gl-compare-btn-wrapper">
                <span class="gl-compare-item-num">3</span>
                <div class="gl-compare-btn">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </div>
              </div>
              <ul id="gl-compare-menu" class="gl-compare-menu">
                <li>
                  <div class="gl-compare-item-img">
                    <img src="/assets/images/comp-img.jpg" alt="Compare" class="gl-lazy">
                  </div>

                  <div class="gl-compare-item-name">
                    <a href="#">Mad House</a>
                  </div>

                  <div class="gl-compare-del-btn">
                    <a href="#">
                      <i class="ion-android-close"></i>
                    </a>
                  </div>
                </li>

                <li>
                  <div class="gl-compare-item-img">
                    <img src="/assets/images/comp-img.jpg" alt="Compare" class="gl-lazy">
                  </div>

                  <div class="gl-compare-item-name">
                    <a href="#">Mad House</a>
                  </div>

                  <div class="gl-compare-del-btn">
                    <a href="#">
                      <i class="ion-android-close"></i>
                    </a>
                  </div>
                </li>

                <li>
                  <div class="gl-compare-item-img">
                    <img src="/assets/images/comp-img.jpg" alt="Compare" class="gl-lazy">
                  </div>

                  <div class="gl-compare-item-name">
                    <a href="#">Mad House</a>
                  </div>

                  <div class="gl-compare-del-btn">
                    <a href="#">
                      <i class="ion-android-close"></i>
                    </a>
                  </div>
                </li>

                <li>
                  <div class="gl-compare-item-img">
                    <img src="/assets/images/comp-img.jpg" alt="Compare" class="gl-lazy">
                  </div>

                  <div class="gl-compare-item-name">
                    <a href="#">Mad House</a>
                  </div>

                  <div class="gl-compare-del-btn">
                    <a href="#">
                      <i class="ion-android-close"></i>
                    </a>
                  </div>
                </li>

                <li class="gl-comp-btns-wrapper">
                  <a href="#" class="gl-btn gl-comp-btn">Compare</a>

                  <a href="#" class="gl-clear-btn">Clear</a>
                </li>
              </ul>
          </div>
          <!-- END -->
        </div>
        <!-- END -->

      </div>
    </nav>
    <!-- Navigation Menu end-->
  </div>
  <!-- END -->
</header>
<!-- HEADER END -->
