<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "site/layouts/manage/_partials/head.njk" %}
  </head>
  <body>
    <section class="up-redq-frontend--section up-console-page">
      <div class="up-redq-inner-wrapper">
        {% include "site/layouts/manage/_partials/sidebar.njk" %}
        <!-- CONTENTS WRAPPER -->
        <div class="up-redq-contents-wrapper">
          {% include "site/layouts/manage/_partials/header.njk" %}
          {% block container %}{% endblock %}
        </div>
        <!-- CONTENTS WRAPPER END -->
      </div>
    </section>
    {% include "site/layouts/manage/_partials/scripts.njk" %}
  </body>
</html>
