{% extends 'site/layouts/main/layout.njk' %}

{% block container %}

  <!-- HERO IMAGE -->
<section class="gl-hero-img-wrapper gl-real-estate-hero">
  <div class="container">
    <div class="row">
      <div class="gl-elements-content-wrapper">
        <!-- <div id="typed-strings">
            <p>Find the <span class="gl-color-text">Best</span> Place for <br>Your Family</p>
            <p>Explore <span class="gl-color-text">luxurious Homes</span> around <br> your location</p>
        </div> -->
        <h2 class="gl-hero-text-heading">Find the <span class="gl-color-text">Best</span> Place for <br>Your Family</h2>

        <div class="gl-scroll-down-wrapper">
          <a href="#gl-next-section" class="gl-scroll-down"><i class="ion-chevron-down"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- HERO IMAGE END -->

<!-- DIRECTORY FORM SECTION -->
<section class="gl-directory-searchbar-section">
    <div class="container">
        <div class="row">
              <div class="gl-directory-searchbar gl-realestate-directory-searchbar collapsed">
                <form action="#" id="gl-bz-directory-form">
                    <div class="gl-regular-search">
                        <input type="text" name="gl-realestate-keyword" id="gl-realestate-keyword" class="gl-directory-input" placeholder="Keywords">

                        <div class="gl-realestate-category gl-category-dropdown">
                            <select class="gl-realestate-category-selection">
                              <option>&nbsp;</option>
                              <option value="Corp">Corporate</option>
                              <option value="Pub">Public</option>
                              <option value="Int">International</option>
                            </select>
                        </div>

                        <div class="gl-realestate-type gl-category-dropdown">
                            <select class="gl-realestate-type-selection">
                              <option>&nbsp;</option>
                              <option value="Corp">Home</option>
                              <option value="Pub">Office</option>
                              <option value="Int">Rest House</option>
                            </select>
                        </div>

                        <button type="submit" class="gl-icon-btn">Search</button>
                    </div>

                  <div class="gl-advanced-search-wrapper">
                          <input type="text" name="gl-search-location" id="gl-search-location" placeholder="Location">
                          <input type="text" name="gl-search-bed" id="gl-jobs-bed" placeholder="Bed">
                          <input type="text" name="gl-search-bathroom" id="gl-search-bathroom" placeholder="Bathroom">

                          <div class="gl-range-wrapper gl-job-filter-options">
                                  <!-- <span class="gl-filter-inp-title">Price Range</span> -->

                                  <!-- <span class="gl-range-value"></span> -->
                                  <div class="gl-range-slider">
                                    <input type="text" id="gl-adv-search-range" name="gl-search-range"/>
                                  </div>
                          </div>
                  </div>

                  <a href="#" class="gl-advanced-search-btn">
                    <i class="ion-grid"></i>
                  </a>
                </form>
              </div>
        </div>
    </div>
</section>
      <!-- END -->

<!-- FEATURED PROPERTIES -->
<section class="gl-feat-properties-section gl-section-wrapper" id="gl-next-section">
  <div class="container">
    <div class="row">
      <!-- SECTION HEADINGS -->
      <div class="gl-section-headings">
        <h1>Featured Property</h1>
        <p>Checkout and enjoy the biggest unlimited possiblities</p>
      </div>
      <!-- END -->

      <!-- WRAPPER -->
      <div class="gl-featured-listing-wrapper">
        <!-- FEATURED ITEMS -->
        <div class="gl-featured-items col-md-4 col-sm-4 col-xs-12">
          <div class="gl-feat-items-img-wrapper">
            <picture>
                <source media="(min-width: 768px)" srcset=/assets/images/real-estate-img-2-lg.jpg>
                <img alt="Category Image" srcset=/assets/images/real-estate-img-2.jpg>
            </picture>

            <span class="gl-price-tag">$3,000</span>
          </div>

          <div class="gl-feat-item-details">
            <span class="gl-item-status-label gl-sold-label">Sold</span>

            <h3>
              <a href="#">Lake Cafe</a>
            </h3>
            <div class="gl-item-location">
              <i class="ion-ios-location-outline"></i>
              <span>Road 3, West Portland, USA</span>
            </div>
          </div>

          <div class="gl-feat-item-metas">
            <ul class="gl-feature-info">
              <li>Beds<span>3</span>
              </li>
              <li>Baths<span>2</span>
              </li>
              <li>Area<span>900 sqft</span>
              </li>
            </ul>

            <ul class="gl-wishlist-compare-wrapper">
                <li>
                    <a href="#" class="gl-add-wishlist">
                        <i class="fa fa-heart-o"></i>
                    </a>
                </li>

                <li>
                    <a href="#" class="gl-add-compare">
                        <div class="gl-compare-btn">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </div>
                    </a>
                </li>
            </ul>
          </div>
        </div>
        <!-- END -->

        <!-- FEATURED ITEMS -->
        <div class="gl-featured-items col-md-4 col-sm-4 col-xs-12">
          <div class="gl-feat-items-img-wrapper">
            <picture>
                <source media="(min-width: 768px)" srcset=/assets/images/real-estate-img-4-lg.jpg>
                <img alt="Category Image" srcset=/assets/images/real-estate-img-4.jpg>
            </picture>

            <span class="gl-price-tag">$300</span>
            <span class="gl-trending"></span>
          </div>

          <div class="gl-feat-item-details">
            <span class="gl-item-status-label gl-sale-label">Sale</span>

            <h3>
              <a href="#">Moon Castle</a>
            </h3>
            <div class="gl-item-location">
              <i class="ion-ios-location-outline"></i>
              <span>Road 3, West Portland, USA</span>
            </div>
          </div>

          <div class="gl-feat-item-metas">
            <ul class="gl-feature-info">
              <li>Beds<span>3</span>
              </li>
              <li>Baths<span>2</span>
              </li>
              <li>Area<span>900 sqft</span>
              </li>
            </ul>

            <ul class="gl-wishlist-compare-wrapper">
                <li>
                    <a href="#" class="gl-add-wishlist">
                        <i class="fa fa-heart-o"></i>
                    </a>
                </li>

                <li>
                    <a href="#" class="gl-add-compare">
                        <div class="gl-compare-btn">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </div>
                    </a>
                </li>
            </ul>
          </div>
        </div>
        <!-- END -->

        <!-- FEATURED ITEMS -->
        <div class="gl-featured-items col-md-4 col-sm-4 col-xs-12">
          <div class="gl-feat-items-img-wrapper">
            <picture>
                <source media="(min-width: 768px)" srcset=/assets/images/real-estate-img-8-lg.jpg>
                <img alt="Category Image" srcset=/assets/images/real-estate-img-8.jpg>
            </picture>

            <span class="gl-price-tag">$600</span>
          </div>

          <div class="gl-feat-item-details">
            <span class="gl-item-status-label gl-rent-label">Rent</span>

            <h3>
              <a href="#">Green Cafe</a>
            </h3>
            <div class="gl-item-location">
              <i class="ion-ios-location-outline"></i>
              <span>Road 3, West Portland, USA</span>
            </div>
          </div>

          <div class="gl-feat-item-metas">
            <ul class="gl-feature-info">
              <li>Beds<span>3</span>
              </li>
              <li>Baths<span>2</span>
              </li>
              <li>Area<span>900 sqft</span>
              </li>
            </ul>

            <ul class="gl-wishlist-compare-wrapper">
                <li>
                    <a href="#" class="gl-add-wishlist">
                        <i class="fa fa-heart-o"></i>
                    </a>
                </li>

                <li>
                    <a href="#" class="gl-add-compare">
                        <div class="gl-compare-btn">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </div>
                    </a>
                </li>
            </ul>
          </div>
        </div>
        <!-- END -->
      </div>
      <!-- END -->

      <!-- MORE BTN -->
      <div class="gl-more-btn-wrapper">
        <a href="#" class="gl-more-btn gl-btn">More</a>
      </div>
      <!-- END -->
    </div>
  </div>
</section>
<!-- FEATURED PROPERTIES END -->


{% endblock %}