<!-- HEADER -->
<header class="up-redq-header-wrapper">
    <button type="button" class="toggle-nav">
        <span class="up-nav-bar"></span>
        <span class="up-nav-bar"></span>
        <span class="up-nav-bar"></span>
    </button>

    <ul class="up-redq-header-content">
        <li class="up-redq-inbox up-dropdown--btn">
          <span class="up-redq-inbox-title">Inbox</span>
          <span class="up-redq-icon-holder">
            <i class="mic-icon-comment"></i>
            <span class="up-redq-msg-count">3</span>
          </span>

          <ul class="up-redq--dropdown">
            <li>
              <a href="#">
                  <span class="up-user-img">
                    <img src="/assets/images/user-img1.png" alt="user">
                    <span class="up-user-status up-online"></span>
                  </span>

                  <span class="up-user-info">
                    <h3>Roman<span class="up-msg-num">(2)</span></h3>
                    <span class="up-msg-excerpt">Happy Birthday</span>
                    <span class="up-msg-time">3.30 pm</span>
                  </span>
              </a>
            </li>

            <li>
              <a href="#">
                  <span class="up-user-img">
                    <img src="/assets/images/user-img1.png" alt="user">
                    <span class="up-user-status up-away"></span>
                  </span>

                  <span class="up-user-info">
                    <h3>Roman<span class="up-msg-num">(2)</span></h3>
                    <span class="up-msg-excerpt">Happy Birthday</span>
                    <span class="up-msg-time">3.30 pm</span>
                  </span>
              </a>
            </li>

            <li>
              <a href="#">
                  <span class="up-user-img">
                    <img src="/assets/images/user-img1.png" alt="user">
                    <span class="up-user-status up-away"></span>
                  </span>

                  <span class="up-user-info">
                    <h3>Roman<span class="up-msg-num">(2)</span></h3>
                    <span class="up-msg-excerpt">Happy Birthday</span>
                    <span class="up-msg-time">3.30 pm</span>
                  </span>
              </a>
            </li>
          </ul>
        </li>

        <li class="up-redq-usericon up-dropdown--btn">
          <span class="up-redq-username">James Honda</span>
          <span class="up-redq-userimg-wrapper">
            <img src="/assets/images/user-img1.png" alt="User">
          </span>

          <ul class="up-redq--dropdown">
            <li>
              <a href="#">
                  <i class="mic-icon-badge"></i>
                  Bookmark
              </a>
            </li>
            <li>
              <a href="#">
                  <i class="mic-icon-file"></i>
                  Invoice
              </a>
            </li>
            <li>
              <a href="#">
                  <i class="mic-icon-cloud"></i>
                  Subscribtion
              </a>
            </li>
            <li>
              <a href="#">
                  <i class="mic-icon-settings"></i>
                  Settings
              </a>
            </li>
            <li>
              <a href="#">
                  <i class="mic-icon-logout"></i>
                  Logout
              </a>
            </li>
          </ul>
        </li>
    </ul>
</header>
<!-- HEADER END -->