<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- PAGE TITLE -->
{% if title %}
  <title>{{ title }} - Real Estate</title>
{% else %}
  <title>Real Estate</title>
{% endif %}

<!-- FAVICON ICONS -->
<link rel="shortcut icon" href="/assets/images/favicon.ico">
<link rel="stylesheet" href="/assets/css/manage.css">