<!-- LEFTSIDE NAVIGATION -->
<nav class="up-redq-leftside-nav">
  <div class="up-redq-logo">
    <a href="#">
      <img src="/assets/images/logo.png" alt="UserpLace">
    </a>
  </div>

  <ul>
    <li>
      <a href="index.html">
        <i class="mic-icon-home"></i>
        Home
      </a>
    </li>
    <li>
      <a href="settings.html">
        <i class="mic-icon-settings"></i>
        Settings
      </a>
    </li>
    <li>
      <a href="console.html">
        <i class="mic-icon-users"></i>
        Console
      </a>
    </li>
    <li>
      <a href="#">
        <i class="mic-icon-wifi"></i>
        Wireless
      </a>
    </li>
    <li>
      <a href="#">
        <i class="mic-icon-cup"></i>
        Restaurant
      </a>
    </li>
  </ul>
</nav>
<!-- LEFTSIDE NAVIGATION END -->