<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <style>
      body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      }

      a {
        color: #00B7FF;
      }
    </style>
  </head>
  <body>
    <h1>{{message}}</h1>
    <h2>{{error.status}}</h2>
    <pre>{{error.stack}}</pre>
  </body>
</html>